# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bbuqbfchpxqtdujxccdo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_2XhEB5JrXiEt2ZGUDohoYw_-YUzqtVZ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJidXFiZmNocHhxdGR1anhjY2RvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDk1NTY2MSwiZXhwIjoyMDk2NTMxNjYxfQ.gFSa5eL1YXNrxFGweoEWSyARwu1-glzdbb2_Y_lQrPc

# Database (Prisma)
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres

# App
NEXT_PUBLIC_SITE_URL=https://americanburguer.com.br
NEXT_PUBLIC_WHATSAPP_NUMBER=5546991394028
